@using calendar.Models;
@model calendar.Models.BigCalendar

@{
    ViewBag.Title = "Calendar";
    ViewBag.Months = Enum.GetValues(typeof(Months));
}


<div class="row">

    <form action="">
        <select name="year">
            @for (var y = Model.calendar.year - 10; y <= Model.calendar.year + 10; y++)
            {
                if (y == Model.calendar.year)
                {
                    <option value="@y" selected="selected">@y</option>
                }
                else
                {
                    <option value="@y">@y</option>
                }
            }
        </select>
        <select name="month">
            @foreach (Months m in ViewBag.Months)
            {
                int x = (int)m;
                if (x == Model.calendar.month)
                {
                    <option value="@x" selected="selected">@m</option>
                }
                else
                {
                    <option value="@x">@m</option>
                }

            }
        </select>
        <select name="day">
            @for (var d = 1; d <= 31; d++)
            {
                if (d == Model.calendar.day)
                {
                    <option value="@d" selected="selected">@d</option>
                }
                else
                {
                    <option value="@d">@d</option>
                }
            }
        </select>
        <input type="submit" value="Refresh" />
    </form>
        

    <a class="btn btn-link" href="/Home/Index?year=@Model.prevYear&month=@Model.prevMonth">Prev</a>
    <a class="btn btn-link" href="/Home/Index?year=@Model.nextYear&month=@Model.nextMonth">Next</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Sunday</td>
                <td>Monday</td>
                <td>Thuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (var j = 1; j <= (Model.calendar.monthDays + Model.calendar.oneWeakDay); j++)
                {
                    if (j >= Model.calendar.oneWeakDay + 1)
                    {
                        if (j - Model.calendar.oneWeakDay == Model.calendar.day)
                        {
                            <td class="currentDay">@(j - Model.calendar.oneWeakDay)</td>
                        }
                        else if (j - Model.calendar.oneWeakDay == Model.calendar.today.Day && Model.calendar.month == Model.calendar.today.Month && Model.calendar.year == Model.calendar.today.Year)
                        {
                            <td class="today">@(j - Model.calendar.oneWeakDay)</td>
                        }
                        else
                        {
                            <td>@(j - Model.calendar.oneWeakDay)</td>
                        }
                    }
                    else
                    {
                        <td></td>
                    }
                    if (j % 7 == 0)
                    {
                       @:</tr><tr>
                    }
                }

            </tr>
        </tbody>
    </table>
    
</div>